node_modules/
dist/
.DS_Store
*.local
.env
.env.local
.env.*.local
*.log
pnpm-debug.log*
.idea/
.vscode/

# Exclude all markdown files except README.md
*.md
!README.md

# Exclude all documentation
/docs/
docs/**/*
