# Environnement
.env
*.env.local

# Rust
kernel/target/
kernel/Cargo.lock

# Go
vendor/
*.exe

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Documentation & Markdown (except README.md)
*.md
!README.md
/docs/
docs/**/*
